*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

input, label {
    display: block;
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: center;
}

#calculator-container{
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 64px;
    margin: 0 32px;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;       
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-input-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container label{
    margin-bottom: 8px;
    font-size: 1.6rem;
    font-weight: 400;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 12px 0;
}

.input-container  input{
    height: 44px;
    width: 100%;
    padding: 4px 16px;
    font-size: 1.6rem;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#calc_button{
    height: 44px;
    width: 100%;
    font-size: 1.6rem;
    margin-top: 32px;
    border-radius: 12px;
    background-color: whitesmoke;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.calculator-output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    width: 100%;
}

.calculator-output-container p{
    display: block;
    font-size: 1.6rem;
}

.calculator-output-container p:first-child{
    font-size: 2.4rem;
}